<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="4334e5fd-9389-4373-b6eb-86cf8473f875" Name="SurfaceReader32" Language="1033" Codepage="Windows-1252" Version="1.0.0.0" UpgradeCode="4334e5fd-9389-4373-b6eb-86cf7473f874" Manufacturer="tim">
    <Package InstallerVersion="200" Compressed="yes" Platform="x86" SummaryCodepage="Windows-1252" Languages="1033" InstallPrivileges="elevated" />
    <Media Id="1" Cabinet="SurfaceReader32_.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="ProgramFilesFolder.Raised_Bar" Name="Raised Bar">
          <Directory Id="ExeFolder" Name="SurfaceReader">

            <Component Id="Component.SurfaceReader.exe_1330371216" Guid="4334e5fd-9389-4373-b6eb-86cf9fb6f27a">
              <File Id="SurfaceReader.exe_1330371216" Source="..\Files\X86\SurfaceReader.exe">
                <Shortcut Id="Shortcut.SurfaceReader.exe_1330371216.SurfaceReader" WorkingDirectory="ExeFolder" Directory="DesktopFolder" Name="SurfaceReader.lnk" />
              </File>

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

            <Component Id="Component.dolapi.dll_846405584" Guid="4334e5fd-9389-4373-b6eb-86cfaad25514">
              <File Id="dolapi.dll_846405584" Source="..\Files\Program Files\dolapi.dll" />
            </Component>

            <Component Id="Component.nvdaControllerClient32.dll_846405584" Guid="4334e5fd-9389-4373-b6eb-86cf91bbc588">
              <File Id="nvdaControllerClient32.dll_846405584" Source="..\Files\Program Files\nvdaControllerClient32.dll" />
            </Component>

            <Component Id="Component.nvdaControllerClient64.dll_846405584" Guid="4334e5fd-9389-4373-b6eb-86cf6c0751cf">
              <File Id="nvdaControllerClient64.dll_846405584" Source="..\Files\Program Files\nvdaControllerClient64.dll" />
            </Component>

            <Component Id="Component.SAAPI32.dll_846405584" Guid="4334e5fd-9389-4373-b6eb-86cfce011baf">
              <File Id="SAAPI32.dll_846405584" Source="..\Files\Program Files\SAAPI32.dll" />
            </Component>

            <Component Id="Component.SAAPI64.dll_846405584" Guid="4334e5fd-9389-4373-b6eb-86cf6effc712">
              <File Id="SAAPI64.dll_846405584" Source="..\Files\Program Files\SAAPI64.dll" />
            </Component>

            <Component Id="Component.SurfaceReader.chm_846405584" Guid="4334e5fd-9389-4373-b6eb-86cf73fd252b">
              <File Id="SurfaceReader.chm_846405584" Source="..\Files\Program Files\SurfaceReader.chm" />
            </Component>

            <Component Id="Uninstall_SurfaceReader" Guid="4334e5fd-9389-4373-b6eb-86cfe9e7c4f9">
              <Shortcut Id="ExeFolder.Uninstall_SurfaceReader" WorkingDirectory="SystemFolder" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Name="Uninstall SurfaceReader.lnk" />

              <CreateFolder />
              <RemoveFolder Id="ExeFolder" On="uninstall" />

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

            <Directory Id="CommonAppDataFolder" Name="CommonAppDataFolder">
              <Directory Id="CommonAppDataFolder.Raised_Bar" Name="Raised Bar">
                <Directory Id="DataFiles" Name="SurfaceReader">

                  <Component Id="ComponentDirPermission" Guid="4334e5fd-9389-4373-b6eb-86cfe2134072" KeyPath="yes">
                    <CreateFolder>
                      <PermissionEx User="Everyone" GenericAll="yes" xmlns="http://schemas.microsoft.com/wix/UtilExtension" />
                    </CreateFolder>
                    <RemoveFolder Id="DataFiles" On="uninstall" />
                  </Component>

                  <Directory Id="AppConfigs" Name="Apps">

                    <Component Id="Component.Logic_Pro_Tranzport.sau_859180782" Guid="4334e5fd-9389-4373-b6eb-86cf0990d7a3">
                      <File Id="Logic_Pro_Tranzport.sau_859180782" Source="..\Files\ProgramData\Apps\Logic Pro-Tranzport.sau" />
                    </Component>

                    <Component Id="Component.LogicPro_Mackie_Control.sax_859180782" Guid="4334e5fd-9389-4373-b6eb-86cf97b8c9d2">
                      <File Id="LogicPro_Mackie_Control.sax_859180782" Source="..\Files\ProgramData\Apps\LogicPro-Mackie Control.sax" />
                    </Component>

                    <Component Id="Component.ProTools_HUI.sax_859180782" Guid="4334e5fd-9389-4373-b6eb-86cf0140983e">
                      <File Id="ProTools_HUI.sax_859180782" Source="..\Files\ProgramData\Apps\ProTools-HUI.sax" />
                    </Component>

                    <Component Id="Component.Reaper_Tranzport.sau_859180782" Guid="4334e5fd-9389-4373-b6eb-86cf8ba39a24">
                      <File Id="Reaper_Tranzport.sau_859180782" Source="..\Files\ProgramData\Apps\Reaper-Tranzport.sau" />
                    </Component>

                    <Component Id="Component.Sonar_Mackie_Control.sax_859180782" Guid="4334e5fd-9389-4373-b6eb-86cf44b87703">
                      <File Id="Sonar_Mackie_Control.sax_859180782" Source="..\Files\ProgramData\Apps\Sonar-Mackie Control.sax" />
                    </Component>

                    <Component Id="Component.Sonar_Mackie_Extender.sax_859180782" Guid="4334e5fd-9389-4373-b6eb-86cf124507ec">
                      <File Id="Sonar_Mackie_Extender.sax_859180782" Source="..\Files\ProgramData\Apps\Sonar-Mackie Extender.sax" />
                    </Component>

                    <Component Id="ComponentDirPermission.1" Guid="4334e5fd-9389-4373-b6eb-86cf6ce24ef8" KeyPath="yes">
                      <CreateFolder>
                        <PermissionEx User="Everyone" GenericAll="yes" xmlns="http://schemas.microsoft.com/wix/UtilExtension" />
                      </CreateFolder>
                      <RemoveFolder Id="AppConfigs" On="uninstall" />
                    </Component>

                  </Directory>

                  <Directory Id="Protocols" Name="Protocols">

                    <Component Id="Component.HUI.spx_1584321696" Guid="4334e5fd-9389-4373-b6eb-86cf9636819f">
                      <File Id="HUI.spx_1584321696" Source="..\Files\ProgramData\Protocols\HUI.spx" />
                    </Component>

                    <Component Id="Component.Logic_Control.spx_1584321696" Guid="4334e5fd-9389-4373-b6eb-86cf4aedbd45">
                      <File Id="Logic_Control.spx_1584321696" Source="..\Files\ProgramData\Protocols\Logic Control.spx" />
                    </Component>

                    <Component Id="Component.Logic_Extender.spx_1584321696" Guid="4334e5fd-9389-4373-b6eb-86cf1d9131d4">
                      <File Id="Logic_Extender.spx_1584321696" Source="..\Files\ProgramData\Protocols\Logic Extender.spx" />
                    </Component>

                    <Component Id="Component.Mackie_C4.spx_1584321696" Guid="4334e5fd-9389-4373-b6eb-86cf902a355a">
                      <File Id="Mackie_C4.spx_1584321696" Source="..\Files\ProgramData\Protocols\Mackie C4.spx" />
                    </Component>

                    <Component Id="Component.Mackie_Control.spx_1584321696" Guid="4334e5fd-9389-4373-b6eb-86cf7a74249c">
                      <File Id="Mackie_Control.spx_1584321696" Source="..\Files\ProgramData\Protocols\Mackie Control.spx" />
                    </Component>

                    <Component Id="Component.Mackie_Extender.spx_1584321696" Guid="4334e5fd-9389-4373-b6eb-86cf02fb8832">
                      <File Id="Mackie_Extender.spx_1584321696" Source="..\Files\ProgramData\Protocols\Mackie Extender.spx" />
                    </Component>

                    <Component Id="Component.Tranzport.spu_1584321696" Guid="4334e5fd-9389-4373-b6eb-86cf01665d2c">
                      <File Id="Tranzport.spu_1584321696" Source="..\Files\ProgramData\Protocols\Tranzport.spu" />
                    </Component>

                    <Component Id="ComponentDirPermission.2" Guid="4334e5fd-9389-4373-b6eb-86cfcab34ef8" KeyPath="yes">
                      <CreateFolder>
                        <PermissionEx User="Everyone" GenericAll="yes" xmlns="http://schemas.microsoft.com/wix/UtilExtension" />
                      </CreateFolder>
                      <RemoveFolder Id="Protocols" On="uninstall" />
                    </Component>

                  </Directory>

                  <Directory Id="Surfaces" Name="Surfaces">

                    <Component Id="ComponentDirPermission.3" Guid="4334e5fd-9389-4373-b6eb-86cf55184ef8" KeyPath="yes">
                      <CreateFolder>
                        <PermissionEx User="Everyone" GenericAll="yes" xmlns="http://schemas.microsoft.com/wix/UtilExtension" />
                      </CreateFolder>
                      <RemoveFolder Id="Surfaces" On="uninstall" />
                    </Component>

                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
        <Directory Id="ProgramMenuFolder.Raised_Bar" Name="Raised Bar">
          <Directory Id="ProgramMenuFolder.Raised_Bar.SurfaceReader" Name="SurfaceReader">

            <Component Id="SurfaceReader_" Guid="4334e5fd-9389-4373-b6eb-86cfce6326a8">
              <Shortcut Id="SurfaceReader__.SurfaceReader_" WorkingDirectory="ExeFolder" Target="[ExeFolder]surfacereader.exe" Name="SurfaceReader.lnk" />

              <CreateFolder />
              <RemoveFolder Id="ProgramMenuFolder.Raised_Bar.SurfaceReader" On="uninstall" />

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

            <Component Id="SurfaceReader_Help" Guid="4334e5fd-9389-4373-b6eb-86cf18114ec7">
              <Shortcut Id="SurfaceReader__.SurfaceReader_Help" WorkingDirectory="ExeFolder" Target="[ExeFolder]surfacereader.chm" Name="SurfaceReader Help.lnk" />

              <CreateFolder />

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

            <Component Id="Uninstall_SurfaceReader.1" Guid="4334e5fd-9389-4373-b6eb-86cfcaeb6a1d">
              <Shortcut Id="SurfaceReader__.Uninstall_SurfaceReader.1" WorkingDirectory="SystemFolder" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Name="Uninstall SurfaceReader.lnk" />

              <CreateFolder />

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

          </Directory>

          <Component Id="ProgramMenuFolder.Raised_Bar" Guid="4334e5fd-9389-4373-b6eb-86cfc74a33f6">
            <RemoveFolder Id="ProgramMenuFolder.Raised_Bar" On="uninstall" />

            <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
              <RegistryValue Value="0" Type="string" KeyPath="yes" />
            </RegistryKey>
          </Component>

        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="DesktopFolder">

        <Component Id="DesktopFolder.EmptyDirectory" Guid="4334e5fd-9389-4373-b6eb-86cf525ad0de">
          <CreateFolder />

          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

      </Directory>

      <Component Id="TARGETDIR" Guid="4334e5fd-9389-4373-b6eb-86cfe74368e7" KeyPath="yes">
        <CreateFolder />
        <RemoveFolder Id="TARGETDIR" On="uninstall" />
      </Component>

    </Directory>

    <UI />

    <WixVariable Id="WixUILicenseRtf" Value="..\Files\License.rtf" />

    <CustomAction Id="WixSharp_InitRuntime_Action" BinaryKey="WixSharp_InitRuntime_Action_File" DllEntry="WixSharp_InitRuntime_Action" Return="check" Execute="immediate" />

    <Binary Id="WixSharp_InitRuntime_Action_File" SourceFile="WixSharp.CA.dll" />

    <UIRef Id="WixUI_Minimal" />

    <Feature Id="binaries" Title="binaries" Absent="allow" Level="1">
      <ComponentRef Id="Component.SurfaceReader.exe_1330371216" />
      <ComponentRef Id="Component.dolapi.dll_846405584" />
      <ComponentRef Id="Component.nvdaControllerClient32.dll_846405584" />
      <ComponentRef Id="Component.nvdaControllerClient64.dll_846405584" />
      <ComponentRef Id="Component.SAAPI32.dll_846405584" />
      <ComponentRef Id="Component.SAAPI64.dll_846405584" />
      <ComponentRef Id="Component.SurfaceReader.chm_846405584" />
      <ComponentRef Id="Uninstall_SurfaceReader" />
      <ComponentRef Id="Uninstall_SurfaceReader.1" />
      <ComponentRef Id="DesktopFolder.EmptyDirectory" />
      <ComponentRef Id="TARGETDIR" />
      <ComponentRef Id="ProgramMenuFolder.Raised_Bar" />
    </Feature>

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="ComponentDirPermission" />
      <ComponentRef Id="Component.Logic_Pro_Tranzport.sau_859180782" />
      <ComponentRef Id="Component.LogicPro_Mackie_Control.sax_859180782" />
      <ComponentRef Id="Component.ProTools_HUI.sax_859180782" />
      <ComponentRef Id="Component.Reaper_Tranzport.sau_859180782" />
      <ComponentRef Id="Component.Sonar_Mackie_Control.sax_859180782" />
      <ComponentRef Id="Component.Sonar_Mackie_Extender.sax_859180782" />
      <ComponentRef Id="ComponentDirPermission.1" />
      <ComponentRef Id="Component.HUI.spx_1584321696" />
      <ComponentRef Id="Component.Logic_Control.spx_1584321696" />
      <ComponentRef Id="Component.Logic_Extender.spx_1584321696" />
      <ComponentRef Id="Component.Mackie_C4.spx_1584321696" />
      <ComponentRef Id="Component.Mackie_Control.spx_1584321696" />
      <ComponentRef Id="Component.Mackie_Extender.spx_1584321696" />
      <ComponentRef Id="Component.Tranzport.spu_1584321696" />
      <ComponentRef Id="ComponentDirPermission.2" />
      <ComponentRef Id="ComponentDirPermission.3" />
      <ComponentRef Id="SurfaceReader_" />
      <ComponentRef Id="SurfaceReader_Help" />
      <ComponentRef Id="TARGETDIR" />
      <ComponentRef Id="ProgramMenuFolder.Raised_Bar" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="WixSharp_InitRuntime_Action" Before="AppSearch"> (1) </Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>

